<!DOCTYPE html>
<html>
<head>

</head>
<body>
{{ form_start(form) }}
{{ form_row(form._username) }}
{{ form_row(form._password) }}
{{ form_widget(form._remember_me) }}
{{ form_widget(form.submit) }}
{{ form_rest(form) }}
{{ form_end(form) }}
</body>
</html>